@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: #b5b662;
  text-align: center;
  color: rgb(0, 4, 58);
  margin: auto;
  font-family: water;
  text-align: center;
}

h1{
  font-size: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-width: 2px;
  border-style: dashed;
  width: 600px;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#myCanvas {
  background-image: url("490455841.jpg");

  border-radius: 300px;
  border: 5px solid white;
  background-repeat: no-repeat;
  background-size: cover;
}



